body {
	margin: 0px;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
}

header {
	margin: 0px;
	background-color: #9BA78B;
	color: #FDFFFD;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}